
.main {
  background-color: white;
  width:900px;
  margin-left:470px;
  padding: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.text2 {
  font-size: 20px;
  margin-left: 10px;
}
