@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensanslight-webfont.eot');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}


.mountain {
    height: 847px;
    margin-bottom: -63px;
    padding-top: 63px;
    background: url('../img/bg.jpg') 846px repeat-x;
    background-position: top center;
}

.center {
    width: 960px;
    margin: 0 auto;
}

/*HEADER*/

.logo {
    float: left;
    color: #fff;
    font: 291% 'League Gothic', sans-serif;
    text-shadow: 0 3px 3px rgba(150, 150, 150, 1);
}

.logo span {
    background: -webkit-repeating-linear-gradient(#745083, #322539);
    color: #322539;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu {
    margin-top: 9px;
    float: right;
}

.menu--replaced {
    display: none;
}

.menu__item {
    float: left;
}

.menu__link {
    margin-left: 52px;
    color: #fff;
    font: 24px 'League Gothic', sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

.menu__link:hover {
    border-bottom: 3px solid #edbfff;
}

.menu__link--selected {
    margin-right: -6px;
    padding: 0 5px;
    border-bottom: 3px solid #edbfff;
}

/*SLIDER*/

.slider {
    position: absolute;
    top: 278px;
    left: 0;
    width: 100%;
    height: 400px;
    background: url('../img/slider.png');
}

.slider__text {
    width: 54%;
    margin-top: 73px;
    float: left;
}

.slider__phone {
    margin: -17px 70px 0 0;
    float: right;
}

.slider__text h1 {
    color: #fff;
    font: 365% 'League Gothic', sans-serif;
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
}

.slider__text h2 {
    color: #edbfff;
    font: 199% 'League Gothic', sans-serif;
    line-height: 22px;
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
}

.slider__info {
    margin-top: 10px;
    color: #fff;
    font: 112% 'Open Sans Light', sans-serif;
    line-height: 136%;
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
}

.slider__info--replace {
    display: none;
}

.smallnav__container {
    position: absolute;
    top: 742px;
    width: 960px;
    margin: 0 auto;
}

.smallnav {
    margin-right: 160px;
    float: right;
}

.smallnav__button {
    width: 17px;
    height: 17px;
    margin-right: 7px;
    float: left;
    background: url('../img/button.png');
    cursor: pointer;
}

.smallnav__button--active {
    background: url('../img/button_active.png');
}

.smallnav__button:hover {
    background: url('../img/button_active.png');
}

.violet {
    width: 100%;
    height: 342px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #1d2f37;
    background: rgb(50, 37, 57);
    background: -moz-linear-gradient(270deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
    background: -webkit-linear-gradient(270deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
    background: -o-linear-gradient(270deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
    background: -ms-linear-gradient(270deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
    background: linear-gradient(0deg, rgb(50, 37, 57) 0%, rgb(116, 80, 131) 100%);
}

.violet__column {
    width: 286px;
    margin: 72px 42px 0 9px;
    float: left;
}

.violet-column--last {
    width: 274px;
    margin-right: 0;
    margin-left: 12px;
}

.violet__icon {
    margin-top: 10px;
    float: left;
}

.violet__icon--replaced {
    display: none;
}

.violet__text {
    width: 226px;
    margin-left: 25px;
    float: left;
}

.violet-column--last .violet__text {
    width: 222px;
    margin-right: 0;
    margin-left: 23px;
}

.violet__text h1 {
    color: #fff;
    font: 186% 'League Gothic';
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
}

.violet-column--last .violet__text h1 {
    margin-left: 3px;
}

.violet__text p {
    margin-top: 5px;
    color: #fff;
    font: 98% 'Open Sans Light', sans-serif;
    line-height: 155%;
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
    word-wrap: break-word;
}

.violet__link {
    margin-top: 18px;
    margin-right: 10px;
    float: right;
    color: #fff;
    font: 18px 'League Gothic', sans-serif;
    text-decoration: none;
    text-shadow: 0 2px 2px rgba(50, 50, 50, 1);
}

.violet__link--selected {
    margin-right: 16px;
    text-shadow: 0 1px 10px rgba(255, 255, 255, 1);
}

.violet__link:hover {
    text-shadow: 0 1px 10px rgba(255, 255, 255, 1);
}

.violet-column--last .violet__link {
    margin-right: 1px;
}

.news {
    width: 100%;
    height: 486px;
    background: #f9f9f9;
}

.news__blog {
    width: 50%;
    margin-top: 118px;
    float: left;
    background-image: url('../img/layer.png');
    background-position: right 30px bottom 22px;
    background-repeat: no-repeat;
}

.news__portrait {
    float: left;
}

.news__text {
    width: 73%;
    margin-top: 9px;
    margin-left: 13px;
    float: left;
}

.news__text h1 {
    margin-bottom: 5px;
    color: #454545;
    font: 30px 'League Gothic', sans-serif;
    text-shadow: 1px 0 1px rgba(174, 174, 174, 1);
}

.news__text span {
    color: #edbfff;
    text-shadow: none;
}

.news__text p {
    color: #454545;
    font: 99% 'Open Sans Light', sans-serif;
    line-height: 24px;
}

.smallnav--white {
    margin-top: 59px;
    margin-right: 203px;
}

.smallnav--white .smallnav__button {
    width: 17px;
    height: 17px;
    margin: 0 0 0 5px;
    border: 0;
    background: url('../img/whitebutton.png');
}

.smallnav--white .smallnav__button--active {
    background: url('../img/whitebutton_hover.png');
}

.smallnav--white .smallnav__button:hover {
    background: url('../img/whitebutton_hover.png');
}

.news__updates {
    margin-top: 127px;
    margin-left: 31px;
    float: left;
}

.news__updates h1 {
    color: #454545;
    font: 185% 'League Gothic', sans-serif;
    text-shadow: 1px 0 1px rgba(174, 174, 174, 1);
}

.news__circles {
    margin-top: 13px;
    float: left;
}

.news__circle {
    display: block;
    margin-bottom: 16px;
}

.news__text--right {
    width: 373px;
    margin-top: -6px;
    margin-left: 16px;
}

.news__text h2 {
    margin-top: 22px;
    margin-bottom: 2px;
    color: #454545;
    font: 98% 'Open Sans Extrabold', sans-serif;
    line-height: 18px;
}

.news__link {
    margin-top: 21px;
    margin-right: 9px;
    float: right;
    color: #454545;
    font: 18px 'League Gothic', sans-serif;
    text-decoration: none;
}

.news__link--replaced {
    display: none;
}

.news__footer {
    width: 100%;
    height: 120px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #d8d8d8;
    background: #f9f9f9;
}

.news__trustmarks {
    margin-top: 28px;
    margin-left: 95px;
}

.news__logo {
    display: block;
    margin-right: 64px;
    float: left;
}

.news__logo--4 {
    margin-left: 11px;
}

.news__logo--5 {
    margin-top: 21px;
    margin-left: 4px;
}

.news__logo--6 {
    margin-left: 2px;
}

.info {
    width: 100%;
    height: 400px;
    background: #ececec;
}

.center--shadowed {
    height: 100%;
    -moz-box-shadow: inset 0 10px 10px -9px rgba(50, 50, 50, .75);
    -webkit-box-shadow: inset 0 10px 10px -9px rgba(50, 50, 50, .75);
    box-shadow: inset 0 10px 10px -9px rgba(50, 50, 50, .75);
}

.info__column {
    width: 283px;
    margin-top: 94px;
    margin-left: 53px;
    float: left;
}

.info__column--replaced {
    display: none;
}

.info__column--replaced2 {
    display: none;
}

.info__column--first {
    width: 30%;
    margin-top: 91px;
    margin-left: 0;
}

.info__column h1 {
    color: #454545;
    font: 186% 'League Gothic', sans-serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.info__column--first h1 {
    font: 294% 'League Gothic', sans-serif;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

.info__column span {
    color: #b9b9b9;
}

.info__column h2 {
    margin-top: 7px;
    margin-bottom: 9px;
    color: #c5c5c5;
    font: italic 16px Georgia;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.info__column p {
    margin-top: 5px;
    color: #787878;
    font: 99% 'Open Sans Light', sans-serif;
    line-height: 24px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    word-wrap: break-word;
}

.mainfooter {
    width: 100%;
    height: 114px;
    background: url('../img/footer.jpg');
    background-position: top center;
}

.menu--footer {
    margin-top: 45px;
    float: left;
}

.menu--footer .menu__link {
    margin-right: 43px;
    margin-left: 0;
    font-size: 126%;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

.menu--footer .menu__link:hover {
    border: 0;
}

.footer__text {
    margin-top: 52px;
    margin-right: -2px;
    float: right;
    color: #fff;
    font: 12px 'Open Sans Light', sans-serif;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 1);
}

.footer__text span {
    font: 12px 'Open Sans Extrabold', sans-serif;
}

/* WIDTH < 960px*/

@media (max-width: 960px) {
    .mountain {
        height: 797px;
        overflow: hidden;
    }

    .center {
        width: 768px;
    }

    .logo {
        margin-left: 19px;
        font-size: 291%;
    }

    .menu {
        margin-top: 22px;
        margin-left: 13px;
        float: left;
    }

    .menu__link {
        margin-right: 51px;
        margin-left: 0;
    }

    .slider {
        top: 244px;
    }

    .slider__text {
        width: 276px;
        margin-top: 93px;
        margin-left: 43px;
    }

    .slider__phone {
        margin-top: -23px;
        margin-right: 47px;
    }

    .slider__text h1 {
        font-size: 294%;
    }

    .slider__text h2 {
        display: block;
        height: 20px;
        margin-top: 5px;
        font-size: 150%;
        overflow: hidden;
}

    .slider__info {
        display: none;
    }

    .slider__info--replace {
        display: block;
        font-size: 99%;
        line-height: 27px;
    }

    .smallnav__container {
        top: 680px;
        width: 768px;
    }

    .smallnav {
        margin-right: 102px;
    }


    .violet {
        height: 341px;
    }

    .violet__column {
        width: 238px;
        margin-top: 75px;
        margin-right: -6px;
        margin-left: 17px;
    }

    .violet-column--last {
        width: 221px;
        margin-left: 32px;
    }

    .violet__icon {
        margin-top: 4px;
        margin-left: 13px;
    }

    .violet__icon--switch {
        display: none;
    }

    .violet__icon--replaced {
        display: block;
    }

    .violet__text {
        width: 162px;
        height: 170px;
        margin-left: 21px;
        overflow: hidden;
    }

    .violet__text h1 {
        font-size: 151%;
    }

    .violet__text p {
        margin-top: 0;
        margin-left: 2px;
        font-size: 98%;
        line-height: 155%;
    }

    .violet-column--last .violet__text {
        width: 152px;
        margin-right: 0;
        margin-left: 21px;
    }

    .violet-column--last .violet__text h1 {
        margin-left: 2px;
    }

    .violet__link {
        margin-top: 9px;
        margin-right: 24px;
    }

    .violet__link--selected {
        margin-right: 26px;
    }

    .violet-column--last .violet__link {
        margin-right: 10px;
    }

    .news {
        height: 486px;
    }

    .news__blog {
        width: 315px;
        margin-top: 118px;
        margin-left: 19px;
        background-image: url('../img/Layer2.png');
        background-position: left 26px bottom 40px;
    }

    .news__text {
        width: 251px;
        margin-top: 9px;
        margin-left: 13px;
    }

    .news__text h1 {
        width: 85px;
        margin-bottom: 5px;
        font-size: 145%;
        line-height: 26px;
    }

    .news__text p {
        height: 139px;
        font-size: 98%;
        line-height: 24px;
        overflow: hidden;
    }

    .smallnav--white {
        margin-top: 73px;
        margin-right: 95px;
    }

    .news__updates {
        margin-top: 126px;
        margin-left: 80px;
    }

    .news__circle {
        margin-bottom: 18px;
    }

    .news__text h2 {
        margin-top: 24px;
        margin-bottom: 9px;
        font-size: 98%;
        line-height: 18px;
    }

    .news__link {
        display: none;
    }

    .news__link--replaced {
        display: block;
        margin-top: 21px;
        margin-right: 5px;
    }

    .news__text--right {
        width: 267px;
        margin-top: -6px;
        margin-left: 16px;
    }

    .news__text--right p {
        height: 22px;
        margin-top: -7px;
        font-size: 98%;
    }

    .news__trustmarks {
        margin-left: 23px;
    }

    .news__logo {
        margin-right: 54px;
    }

    .news__logo--6 {
        margin-top: 3px;
        margin-right: 0;
        margin-left: 3px;
    }

    .info {
        height: 397px;
    }

    .info__column {
        display: none;
    }

    .info__column--replaced {
        display: block;
        width: 214px;
        margin-top: 99px;
        margin-right: 32px;
        margin-left: 19px;
    }

    .info__column--replaced--last {
        margin-right: -14px;
        margin-left: 18px;
    }

    .info__column h1 {
        font-size: 151%;
    }

    .info__column p {
        margin-top: 5px;
        font-size: 99%;
        line-height: 24px;
    }

    .mainfooter {
        height: 201px;
        background: url('../img/footer-2.jpg');
        background-size: cover;
    }

    .menu--footer {
        margin-top: 44px;
        margin-left: 14px;
    }

    .menu--footer .menu__link {
        margin-right: 38px;
        margin-left: 5px;
    }

    .footer__text {
        margin-top: 100px;
        margin-right: 22px;
    }

}

/* WIDTH < 768px*/

@media (max-width: 768px) {

    .mountain {
        height: 547px;
    }

    .center {
        width: 480px;
    }

    .logo {
        width: 155px;
        margin: 0 auto;
        float: none;
        clear: both;
    }

    .menu {
        position: relative;
        width: 245px;
        margin-top: 12px;
        margin-left: 108px;
        float: none;
        background: url('../img/menu.png');
        text-align: center;
        z-index: 1;
    }

    .menu__item {
        height: 42px;
        float: none;
        border-bottom: 2px solid #36283e;
        box-sizing: border-box;
    }

    .menu__item--selected {
        height: 47px;
    }

    .menu__item:hover {
        border-bottom: 2px solid #edbfff;
        background: url('../img/menu_trans.png');
    }

    .menu__link {
        margin-right: 0;
        margin-left: 0;
        line-height: 38px;
    }

    .menu__link--selected {
        line-height: 51px;
    }

    .slider {
        top: 203px;
        height: 246px;
    }

    .slider__text {
        width: 215px;
        margin-top: 90px;
        margin-left: 30px;
    }

    .slider__phone {
        margin-top: -10px;
        margin-right: 40px;
    }

    .slider__phone img {
        width: 192px;
    }

    .slider__text h1 {
        font-size: 225%;
    }

    .slider__text h2 {
        height: 16px;
        margin-top: -3px;
        font-size: 113%;
    }

    .slider__info--replace {
        display: none;
    }

    .smallnav__container {
        top: 470px;
        width: 480px;
    }

    .smallnav {
        margin-right: 169px;
    }

    .violet {
        height: 522px;
        padding-top: 75px;
    }

    .violet__column {
        width: 454px;
        margin: 0 0 0 11px;
    }

    .violet-column--last {
        width: 440px;
        margin: 2px 0 -45px 10px;
    }

    .violet__text {
        width: 368px;
        height: 107px;
        margin-left: 21px;
    }

    .violet-column--last .violet__text {
        width: 369px;
    }

    .violet-column--last .violet__text h1 {
        margin-left: 0;
    }

    .violet__link {
        margin-top: 6px;
        margin-right: 20px;
        margin-bottom: 23px;
    }

    .violet__link--selected {
        margin-top: 8px;
        margin-right: 20px;
        margin-bottom: 21px;
    }

    .violet-column--last .violet__link {
        margin-top: 7px;
        margin-right: 4px;
    }

    .news {
        height: 787px;
    }

    .news__blog {
        width: 429px;
        margin-top: 88px;
        margin-left: 11px;
        background-image: url('../img/Layer3.png');
        background-position: left 26px bottom 40px;
    }

    .news__text {
        width: 356px;
        margin-top: 11px;
    }

    .news__text h1 {
        width: 215px;
        margin-bottom: 16px;
        font-size: 188%;
    }

    .news__text p {
        height: 166px;
        font-size: 99%;
    }

    .smallnav--white {
        margin-top: 59px;
        margin-right: 164px;
    }

    .news__updates {
        margin-top: 46px;
        margin-left: 75px;
    }

    .news__link--replaced {
        margin-top: 22px;
        margin-right: -4px;
    }

    .news__text--right {
        width: 267px;
        margin-top: -6px;
        margin-left: 16px;
    }

    .news__text--right p {
        height: 22px;
        margin-top: -7px;
        font-size: 98%;
    }

    .news__footer {
        height: 232px;
    }

    .news__trustmarks {
        margin-top: 37px;
        margin-left: 75px;
    }

    .news__logo {
        margin-right: 54px;
    }

    .news__logo--4 {
        margin-top: 26px;
        margin-left: -16px;
    }

    .news__logo--5 {
        margin-top: 46px;
        margin-left: 5px;
    }

    .news__logo--6 {
        margin-top: 27px;
        margin-right: 0;
        margin-left: 3px;
    }

    .info {
        top: 2167px;
        height: 667px;
    }

    .info__column {
        display: none;
    }

    .info__column--replaced {
        display: none;
    }

    .info__column--replaced2 {
        display: block;
        width: 443px;
        margin: 76px 32px -19px 9px;
    }

    .info__column h1 {
        font-size: 151%;
    }

    .info__column p {
        margin-top: 5px;
        font-size: 99%;
        line-height: 24px;
    }

    .mainfooter {
        height: 201px;
        background: url('../img/footer3.jpg');
        background-size: cover;
    }

    .menu--footer {
        position: static;
        width: 100%;
        margin-top: 0;
        margin-left: 13px;
        padding-top: 47px;
        border: 0;
        border-radius: 0;
        background: none;
        text-align: center;
        z-index: 1;
    }

    .menu--footer .menu__item {
        height: 42px;
        float: left;
        border: 0;
    }

    .menu--footer .menu__item--selected {
        height: 42px;
    }

    .menu--footer .menu__item:hover {
        border: 0;
        background: none;
    }

    .menu--footer .menu__link {
        margin-right: 25px;
        margin-left: 0;
        line-height: 18px;
    }

    .menu--footer .menu__link--selected {
        line-height: 18px;
    }

    .footer__text {
        margin-top: 11px;
        margin-right: 179px;
    }
}

/* WIDTH < 480px*/

@media (max-width: 480px) {
    
    .mountain {
        height: 515px;
    }

    .center {
        width: 320px;
    }

    .logo {
        width: 155px;
        margin: 0 auto;
        float: none;
        clear: both;
        font-size: 291%;
    }

    .menu {
        width: 245px;
        height: 30px;
        margin: 0 auto;
        margin-top: 29px;
        float: none;
        border: 0;
        background: none;
        text-align: center;
        overflow: hidden;
    }

    .menu__item {
        float: none;
        border: 0;
        background: none;
    }

    .menu__item:hover {
        border: 0;
        background: none;
    }

    .menu__link {
        margin-right: 0;
        margin-left: 0;
        line-height: 20px;
    }

    .menu__link--selected {
        line-height: 20px;
    }

    .slider {
        top: 203px;
        height: 246px;
        background: none;
    }

    .slider__text {
        width: 210px;
        margin: 90px auto;
        float: none;
    }

    .slider__phone {
        display: none;
    }

    .slider__text h1 {
        font-size: 223%;
    }

    .slider__text h2 {
        display: block;
        height: 20px;
        margin-top: -3px;
        font-size: 113%;
    }

    .slider__info {
        display: none;
    }

    .slider__info--replace {
        display: none;
    }

    .smallnav__container {
        top: 450px;
        width: 320px;
    }

    .smallnav {
        margin-right: 93px;
    }

    .violet {
        height: 529px;
        padding-top: 68px;
    }

    .violet__column {
        width: 293px;
        margin: 0 0 0 9px;
    }

    .violet-column--last {
        width: 293px;
        margin-top: 2px;
        margin-right: 0;
        margin-left: 8px;
    }

    .violet__text {
        width: 222px;
        height: 105px;
        margin-left: 21px;
    }

    .violet-column--last .violet__text {
        width: 223px;
        margin-right: 0;
        margin-left: 21px;
    }

    .violet-column--last .violet__text h1 {
        margin-left: 2px;
    }

    .violet__link {
        margin-top: 8px;
        margin-right: 18px;
        margin-bottom: 36px;
    }

    .violet__link--selected {
        margin-top: 10px;
        margin-right: 18px;
        margin-bottom: 21px;
    }

    .violet-column--last .violet__link {
        margin-top: 8px;
        margin-right: 17px;
    }

    .news {
        height: 788px;
    }

    .news__blog {
        width: 269px;
        margin-top: 88px;
        margin-left: 11px;
    }

    .news__text {
        width: 177px;
        margin-top: 7px;
        margin-left: 9px;
    }

    .news__text h1 {
        width: 127px;
        margin-bottom: 5px;
        font-size: 148%;
        line-height: 24px;
    }

    .news__text p {
        height: 165px;
        margin-left: 4px;
        font-size: 99%;
        line-height: 24px;
    }

    .smallnav--white {
        margin-top: 53px;
        margin-right: 67px;
    }

    .news__updates {
        margin-top: 46px;
        margin-left: 10px;
    }

    .news__text h2 {
        width: 163px;
        height: 20px;
        margin-top: 24px;
        margin-bottom: 7px;
        font-size: 101%;
        overflow: hidden;
    }

    .news__link {
        display: none;
    }

    .news__link--replaced {
        margin-top: 18px;
        margin-right: 8px;
    }

    .news__text--right {
        width: 217px;
        margin-top: -6px;
        margin-left: 17px;
        overflow: hidden;
    }

    .news__text--right p {
        height: 22px;
        margin-top: -6px;
        font-size: 97%;
    }

    .news__footer {
        height: 420px;
    }

    .news__trustmarks {
        margin-top: 51px;
        margin-left: 49px;
        padding-left: 4px;
    }

    .news__logo {
        margin-right: 54px;
        margin-bottom: 61px;
    }

    .news__logo--3 {
        margin-left: 8px;
    }

    .news__logo--4 {
        margin-top: 1px;
        margin-left: 10px;
    }

    .news__logo--5 {
        margin-top: 4px;
        margin-left: -16px;
    }

    .news__logo--6 {
        margin-top: -18px;
        margin-right: 0;
        margin-left: -1px;
    }

    .info {
        display: none;
    }

    .menu--footer {
        display: none;
    }

    .footer__text {
        margin-top: 39px;
        margin-right: 100px;
    }
}
