.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

/*Carousel section*/

.jcarousel-wrapper {
    float: left;
    width: 860px;
    height: 420px;
    padding: 50px 20px;
}

.container {
    width: 760px;
    margin: 8px;
    padding: 11px;
    float: left;
    border: 1px solid #999;
    border-radius: 8px;
    background: #d4d4d4;
}

.jcarousel {
    position: relative;
    width: 760px;
    overflow: hidden;
}

.jcarousel-item {
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    box-sizing: border-box;
}

.jcarousel-prev {
    width: 30px;
    height: 30px;
    margin-top: 190px;
    float: left;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #d4d4d4;
    color: #556667;
    font: 30px Arial;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-prev:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-prev:active {
    background: #556667;
    color: #d4d4d4;
}

.jcarousel-next {
    width: 30px;
    height: 30px;
    margin-top: 190px;
    float: left;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #d4d4d4;
    color: #556667;
    font: 30px Arial;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-next:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-next:active {
    background: #556667;
    color: #d4d4d4;
}

.jcarousel ul {
    position: relative;
    width: 20000em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.jcarousel li {
    float: left;
}

.jcarousel-pagination {
    width: 100px;
    margin: 0 auto;
}

.jcarousel-pagination a {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #d4d4d4;
    color: #d4d4d4;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-pagination a.active {
    border: 3px solid #d4d4d4;
    background: #556667;
    color: #556667;
}

/*Select box*/

.boxes {
    float: left;
    padding: 58px 50px;
}

.ik_select_link {
    width: 180px;
    height: 25px;
    border-radius: 8px 0;
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -webkit-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -o-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -ms-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: linear-gradient(120deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    cursor: pointer;
}


.ik_select_link_focus {
    
}

.ik_select_link_text {
    display: block;
    padding-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #556667;
    background-image: url('../img/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: 157px 7px;
    font: 18px Tahoma;
}



.ik_select_dropdown {
    top: -15px;
    left: 0;
}

.ik_select_list {
    width: 180px;
    padding-left: 0;
    border-radius: 8px 0;
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -webkit-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -o-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -ms-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: linear-gradient(120deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    cursor: pointer;
}

.ik_select_option {
    height: 25px;
    margin-left: -40px;
    padding-left: 30px;
    list-style: none;
    border-radius: 8px 0;
    color: #556667;
    font: 18px Tahoma;

}

.ik_select_option_label {
    /* Option label */
}

.ik_select_hover {
    color: #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
}
                
.ik_select_active {
    background: #556667;
    color: #fff;
    border-radius: 8px 0;
}

.ik_select_filter_wrap {
    /* Wrapper for the filter input */
}
        
.ik_select_filter {
    /* Filter input */
}