.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

/*MENU*/

nav {
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -webkit-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -o-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -ms-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: linear-gradient(120deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.submenu {
    background-color: #d4d4d4;
}

nav li ul {    
    position: absolute;
    left: 0;
    top: 40px;
    width: 200px;
}

nav li li {
    position: relative;
    margin: 0;
    display: block;
}

nav li li ul {
    position: absolute;
    top: 0;
    left: 200px;
    margin: 0;
}

nav a {
    display: block;
    margin: 0 12px;
    padding: 0 12px;
    color: #000;
    font: 18px Tahoma;
    line-height: 40px;
    text-decoration: none;
}

nav a:hover,
nav a:active,
nav a:focus {
    color: #fff;
}

nav li li a {
    width: 180px;
    border-bottom: solid 1px rgb(85, 102, 103);
    margin: 0 10px;
    padding: 0;
}

nav li li:last-child a {
    border-bottom: none;
}

nav li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

nav li.dropdown_2 > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

ul.submenu {
    display: none;
}

/*Carousel section*/

.jcarousel-wrapper {
    width: 860px;
    height: 420px;
    margin-top: 100px;
    padding: 50px 20px;
    float: left;
}

.container {
    width: 760px;
    margin: 8px;
    padding: 11px;
    float: left;
    border: 1px solid #999;
    border-radius: 8px;
    background: #d4d4d4;
}

.jcarousel {
    position: relative;
    width: 760px;
    overflow: hidden;
}

.jcarousel-item {
    border-right: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    box-sizing: border-box;
}

.jcarousel-prev {
    width: 30px;
    height: 30px;
    margin-top: 190px;
    float: left;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #d4d4d4;
    color: #556667;
    font: 30px Arial;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-prev:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-prev:active {
    background: #556667;
    color: #d4d4d4;
}

.jcarousel-next {
    width: 30px;
    height: 30px;
    margin-top: 190px;
    float: left;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: #d4d4d4;
    color: #556667;
    font: 30px Arial;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-next:hover {
    -webkit-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 2px 0 rgba(50, 50, 50, .75);
}

.jcarousel-next:active {
    background: #556667;
    color: #d4d4d4;
}

.jcarousel ul {
    position: relative;
    width: 20000em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.jcarousel li {
    float: left;
}

.jcarousel-pagination {
    width: 100px;
    margin: 0 auto;
}

.jcarousel-pagination a {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-left: 5px;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #d4d4d4;
    color: #d4d4d4;
    text-decoration: none;
    box-sizing: border-box;
}

.jcarousel-pagination a.active {
    border: 3px solid #d4d4d4;
    background: #556667;
    color: #556667;
}

/*Select*/

.boxes {
    margin-top: 100px;
    padding: 58px 50px;
    float: left;
}

.ik_select_link {
    width: 180px;
    height: 25px;
    border-radius: 8px 0;
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -webkit-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -o-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -ms-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: linear-gradient(120deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    cursor: pointer;
}

.ik_select_link_text {
    display: block;
    padding-left: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #556667;
    background-image: url('../img/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: 157px 7px;
    font: 18px Tahoma;
}


.ik_select_dropdown {
    top: -15px;
    left: 0;
}

.ik_select_list {
    width: 180px;
    padding-left: 0;
    border-radius: 8px 0;
    background: rgb(212, 212, 212);
    background: -moz-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -webkit-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -o-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: -ms-linear-gradient(30deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    background: linear-gradient(120deg, rgb(212, 212, 212) 30%, rgb(85, 102, 103) 70%);
    cursor: pointer;
}

.ik_select_option {
    height: 25px;
    margin-left: -40px;
    padding-left: 30px;
    border-radius: 8px 0;
    color: #556667;
    font: 18px Tahoma;
    list-style: none;
}

.ik_select_hover {
    border-bottom: 1px solid #fff;
    color: #fff;
    box-sizing: border-box;
}

.ik_select_active {
    border-radius: 8px 0;
    background: #556667;
    color: #fff;
}

/*Checkboxes*/

.css__check {
    margin-top: 100px;
    float: left;
    font: 25px Tahoma;
    text-align: center;
}

.lbl {
    display: block;
    position: relative;
    width: 44px;
    height: 20px;
    margin: 30px;
    transition: all .3s ease;
    border-radius: 100px;
    background: #556667;
    cursor: pointer;
}

.lbl span {
    margin-left: 55px;
    font-size: 18px;
    vertical-align: top;
}

.lbl::after {
    display: block;
    position: absolute;
    top: -3px;
    left: -2px;
    width: 26px;
    height: 26px;
    transition: all .3s ease;
    border-radius: 100px;
    background: #d4d4d4;
    box-shadow: 0 3 3 rgba(0, 0, 0, .05);
    content: '';
}

.cbx:checked ~ label { 
    background: #ac98ac;
}

.cbx:checked ~ label:after {
    left: 20px;
    background: #d8bfd8;
}

.cbx:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}

.cbx:disabled ~ label:after {
    background: #bcbdbc;
}

.hidden {
    display: none;
}

.check__wrapper {
    margin: 18px;
}

.jquery__check {
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    font: 25px Tahoma;
}

.jquery__check span {
    font-size: 18px;
}

.simple-switch-outter {
    display: inline-block;
    position: relative;
    width: 44px;
    height: 20px;
    transition: all .3s ease;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: middle;
    box-sizing: content-box;
    background-clip: content-box;
}

.simple-switch-outter .simple-switch {
    display: none;
}

.simple-switch-outter .simple-switch-circle {
    position: absolute;
    top: -3px;
    left: -2px;
    width: 26px;
    height: 26px;
    transition: all .3s ease;
    border-radius: 100px;
    background: #d4d4d4;
    box-shadow: 0 3 3 rgba(0, 0, 0, .5);
    content: '';
}

.simple-switch-outter.unchecked {
    background-color: #556667;
}

.simple-switch-outter.unchecked .simple-switch-circle {
    left: 0;
    transition: background-color .4s, left .3s;
}

.simple-switch-outter.checked {
    transition: background-color .4s;
    background-color: #ac98ac;
}

.simple-switch-outter.checked .simple-switch-circle {
    left: 20px;
    transition: background-color .4s, left .3s;
    background-color: #d8bfd8;
}

.simple-switch-outter.disabled {
    background: #d5d5d5;
    cursor: default;
}

.simple-switch-outter.disabled .simple-switch-circle {
    background: #bcbdbc;
}
