@font-face {
    font-family: OpenSans;
    src: local("Open Sans"), url(../fonts/2211.ttf);
   }
/*Main block*/
.container {
  width: 1050px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 3px 0px 0px white, 0 -3px 0px 0px white, 0px 0px 3px 1px rgba(219, 219, 219, 1), 0px 0px 3px 1px rgba(219, 219, 219, 1);
}
/*Navigation panel*/
.nav {
  width: 100%;
  height: 40px;
  margin: 40px 0;
  background: rgb(67, 67, 67);
  background: -moz-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -webkit-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -o-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -ms-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: linear-gradient(0deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
}
.nav li {
  display: inline-block;
  width: 100px;
  height: 40px;
  margin-right: 50px;
  background: rgb(67, 67, 67);
  background: -moz-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -webkit-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -o-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -ms-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: linear-gradient(0deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  color: white;
  font-size: 15px;
  font-family: OpenSans;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  line-height: 40px;
  text-align: center;
  }
.nav li:hover{
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  box-sizing: border-box;
  background: rgb(46, 46, 46);
  background: -moz-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -webkit-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -o-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -ms-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: linear-gradient(0deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
}
/*Sidebar*/
.sidebar {
  float: left;
  width: 225px;
  border: 1px solid #c8c8c8;
  color: #656363;
  font-size: 13.33px;
  font-family: OpenSans;
}
.sidebar li {
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  border-bottom: 1px solid #c8c8c8;
  }
.sidebar li:last-child {
  border-bottom: none;
}
.sidebar li:hover {
  color: black;
  padding-left: 40px
}
