@font-face {
    font-family: OpenSans;
    src: local("Open Sans"), url(../fonts/2211.ttf);
   }
/*MAIN BLOCK*/
.container {
  width: 953px;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin: 0 auto;
  padding: 50px;
  box-shadow: 0 3px 0px 0px white, 0 -3px 0px 0px white, 0px 0px 3px 1px rgba(219, 219, 219, 1), 0px 0px 3px 1px rgba(219, 219, 219, 1);
}
/*NAVIGATION PANEL*/
.nav {
  width: inherit;
  height: 40px;
  margin: 40px 0;
  background: rgb(67, 67, 67);
  background: -moz-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -webkit-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -o-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: -ms-linear-gradient(270deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  background: linear-gradient(0deg, rgb(67, 67, 67) 23%, rgb(94, 94, 94) 80%);
  color: white;
  font-size: 15px;
  font-family: OpenSans;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  line-height: 40px;

}
.nav li {
  display: inline-block;
  width: 100px;
  margin-right: 50px;
  text-align: center;
  cursor: pointer;
  }
.nav li:hover{
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  box-sizing: border-box;
  background: rgb(46, 46, 46);
  background: -moz-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -webkit-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -o-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: -ms-linear-gradient(270deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
  background: linear-gradient(0deg, rgb(46, 46, 46) 25%, rgb(74, 74, 74) 100%);
}
/*SIDEBAR*/
.sidebar {
  float: left;
  width: 225px;
  border: 1px solid #c8c8c8;
  color: #656363;
  font-size: 13.33px;
  font-family: OpenSans;
}
.sidebar li {
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;
  }
.sidebar li:last-child {
  border-bottom: none;
}
.sidebar li:hover {
  color: black;
  padding-left: 40px
}
/*CONTENT*/
.content {
  margin-left: 275px;
}
p{
  margin-top: 40px;
  padding-left: 25px;
  font-size: 13.33px;
  font-family: OpenSans;
  line-height: 20px;
}
/*FOOTER*/
.footer {
  height: 40px;
  width: inherit;
  background-color: #e1e1e1;
  margin-top: 75px;
  line-height: 40px;
  font-size: 13.33px;
  font-family: OpenSans;
  cursor: pointer;
}
.footer li {
  display: inline-block;
  width: 100px;
  margin-right: 50px;
  text-align: center;
  }
.footer li:hover {
  text-decoration: underline;
}
.footer li:last-child {
  width: 220px;
  float:right;
  margin-right: 0;
  text-decoration: none;
  cursor: default;
}
