.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

.header-phone {
    height: 30px;
    margin-top: 17px;
    margin-left: 46px;
}

.phone-icon {
    width: 21px;
    height: 21px;
    margin-top: 4px;
    float: left;
    border-radius: 21px;
    background: rgb(21, 51, 87);
    background: -moz-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: -o-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: -ms-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: linear-gradient(180deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
}

.phone-icon img {
    margin-top: 1px;
    margin-left: 3px;
}

.header-phone span {
    margin-top: 7px;
    margin-left: 4px;
    float: left;
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
}

.login-form {
    width: 495px;
    height: 25px;
    margin-left: 15px;
    float: left;
    border-top: 1px solid #a6c3cf;
    border-bottom: 1px solid #596d80;
    border-radius: 3px;
    background: rgb(31, 103, 135);
    -moz-box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    background: -moz-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -webkit-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -o-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -ms-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: linear-gradient(180deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
}

.login-form img {
    margin-top: 4px;
    margin-left: 8px;
    float: left;
}

.login {
    margin-left: 1px;
    float: left;
}

.login input {
    width: 108px;
    height: 12px;
    margin-left: 2px;
    padding-left: 2px;
}

.login input::-webkit-input-placeholder {
    font-size: 86%
}

.login a {
    margin-right: 2px;
    margin-left: 5px;
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
}

.reg {
    float: left;
    color: #fff;
    font-size: 88%;
    line-height: 25px;
    text-decoration: none;
}

.forgotten {
    margin-top: 6px;
    margin-right: 10px;
    float: right;
    color: #bfbfbf;
    line-height: 13px;
    text-decoration: none;
    border-bottom: 1px solid #7c8794;
}

.contact {
    width: 67px;
    height: 18px;
    margin-top: 1px;
    margin-left: 17px;
    padding-left: 7px;
    float: left;
    border: 2px solid #d3d8da;
    border-radius: 18px;
}

.contact img {
    margin-right: 4px;
}

header > img {
    margin-top: 7px;
    margin-left: 39px;
}

/*NAVIGATION BAR*/

nav {
    height: 32px;
    margin: 3px 50px 0 39px;
    padding-left: 120px;
    padding-right: 13px;
    border: 1px solid #2c345a;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: -ms-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: linear-gradient(0deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

nav ul {
    margin-left: 1px;
    float: left;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
}

nav li {
    height: 26px;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    line-height: 27px;
}

nav li:last-child {
    margin-left: 0;
    padding-right: 0;
}

nav li a {
    padding-right: 13px;
    padding-left: 11px;
    color: #b1bcc0;
    line-height: 27px;
    text-decoration: none;

}

nav li:hover {
    border-radius: 26px;
    background: rgb(12, 51, 87);
    color: #fff;
    background: -moz-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -webkit-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -o-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -ms-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: linear-gradient(0deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
}

nav li a:hover {
    color: #fff;
}

.selected {
    padding-right: 16px;
    padding-left: 19px;
    border-radius: 26px;
    background: rgb(12, 51, 87);
    color: #fff;
    background: -moz-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -webkit-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -o-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -ms-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: linear-gradient(0deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    cursor: pointer;
}

nav span {
    margin-right: 3px;
    padding-left: 5px;
    float: right;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    line-height: 32px;
}

nav p {
    padding-right: 1px;
    padding-left: 11px;
    float: right;
    color: #8a9296;
    font-family: Arial;
    font-size: 11px;
    line-height: 31px;
}

nav img {
    margin-top: 7px;
    margin-right: -4px;
    float: right;
}

.selectors {
    float: left;
    margin-top: 10px;
    margin-left: 1px;
}

/*LEFT FILTER*/

.car-select {
    width: 414px;
    height: 132px;
    margin-top: 2px;
    margin-left: 42px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.car-select header {
    color: #154467;
    font-family: 'Arial Black';
    height: 15px;
}

.car-select header h1 {
    padding-right: 72px;
    padding-top: 1px;
    float: left;
    font-size: 79%;
    text-align: center;
}

.car-select header p {
    padding-top: 4px;
    padding-right: 66px;
    padding-left: 20px;
    float: left;
    font-size: 64%;
}

.car-select header span {
    padding-top: 2px;
    padding-left: 1px;
    float: left;
    font-size: 65%;
}

.car-filters-left {
    margin: 0 11px 0 17px;
    float: left;
}

.car-filters-right {
    margin: -2px 0 0 20px;
    float: left;
}

.car-filters-text {
    padding-top: 12px;
    float: left;
    width: 72px;
}

.car-filters-text p {
    margin-bottom: 8px;
    line-height: 8px;
    font-size: 64%;
    font-family: Arial;
}

.car-filters-text span {
    color: #77858b;
}

.car-filters-selection {
    float: left;
    width: 102px;
}

.cfs-1 {
    margin-top: 5px;
    margin-left: 3px;
    width: 101px;
    height: 16px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 84px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);

}

.cfs-1 select {
    width: 102px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.cfs-1 select:focus {
    outline: none;
}

.cfs-2 {
    margin-top: 5px;
    margin-left: 3px;
    width: 58px;
    height: 16px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 41px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.cfs-2 select {
    width: 109px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.cfs-2 select:focus {
    outline: none;
}

.car-select a {
    margin-right: 21px;
    padding-top: 4px;
    float: right;
    border-bottom: 2px solid #99a6b3;
    color: #154467;
    font: italic 14px Arial;
    line-height: 13px;
    text-decoration: none;
}

/*CENTER FILTER*/
.tire-select {
    width: 192px;
    height: 135px;
    margin-top: 1px;
    margin-left: 14px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.tire-select header {
    height: 15px;
    padding-top: 3px;
    padding-left: 10px;
    color: #154467;
    font-family: 'Arial Black';
    font-size: 75%;
}

.tire-select-text {
    width: 55px;
    float: left;
    font-family: 'Lucida Sans Unicode';
    text-align: right;
}

.tire-select-text p {
    padding-top: 12px;
    padding-right: 3px;
    font-size: 64%;
}

.tire-select-text h1 {
    padding-top: 11px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-size: 70%;
}

.tire-select-text span {
    padding-right: 7px;
    font-size: 64%;
}

.tire-select-filter {
    float: left;
}

.tsf-1 {
    width: 51px;
    height: 15px;
    margin-top: 4px;
    margin-left: 3px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 34px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);

}

.tsf-1 select {
    width: 52px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.tsf-1 select:focus {
    outline: none;
}

.tsf-span {
    margin-top: 7px;
    margin-left: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    float: left;
}

.tsf-2 {
    margin-top: 4px;
    margin-left: 1px;
    width: 52px;
    height: 15px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.tsf-2 select {
    width: 53px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.tsf-2 select:focus {
    outline: none;
}

.tsf-3 {
    clear: both;
    margin-left: 4px;
    width: 44px;
    height: 15px;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 27px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.tsf-3 select {
    width: 45px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 2px;
    font-size: 11px;
}

.tsf-3 select:focus {
    outline: none;
}

.tire-checkbox {
    width: 70px;
    margin-top: 9px;
    margin-left: 3px;
}

.check {
    height: 13px;
    padding-bottom: 1px;
}

.check input {
    float: left;
}

.check input:not(checked) {
    position: absolute;
    opacity: 0;
}

.check input:not(checked) + label {
    position: relative;
    padding-left: 13px;
}

.check input:not(checked) + label:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 9px;
    height: 9px;
    margin-top: 1px;
    border-top: 1px solid #707070;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #fdfdfd;
    border-bottom: 1px solid #f4f4f4;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    display: block;
    float: left;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    line-height: 10px;
    vertical-align: middle;
}

.check input:checked + label:before {
    background: url('../img/check.png');
}

label span {
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    vertical-align: top;
    line-height: 10px;
}


.tire-select a {
    margin-right: 19px;
    margin-top: -3px;
    float: right;
    border-bottom: 2px solid #99a6b3;
    color: #154467;
    font: italic 14px Arial;
    line-height: 13px;
    text-decoration: none;
}

/*RIGHT FILTER*/
.disc-select {
    width: 266px;
    height: 134px;
    margin-top: 1px;
    margin-left: 10px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.disc-select-left header {
    padding-top: 2px;
    padding-left: 9px;
    color: #154467;
    font-family: 'Arial Black';
    font-size: 82%;
}

.disc-select-left {
    float: left;
}

.dsl-text {
    width: 105px;
    float: left;
    transform: scaleX(1.005);
}

.dsl-text p {
    margin-top: 10px;
    margin-left: 16px;
    line-height: 8px;
    font-size: 64%;
    font-family: 'Lucida Sans Unicode';
}

.dsl-text span {
    color: #77858b;
}

.dsl-filters {
    width: 60px;
    float: left;
}

.dslf-1 {
    margin-top: 4px;
    margin-left: 1px;
    width: 55px;
    height: 15px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-1 select {
    width: 56px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.dslf-1 select:focus {
    outline: none;
}

.dslf-2 {
    margin-top: 4px;
    margin-left: 1px;
    width: 48px;
    height: 15px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 31px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-2 select {
    width: 49px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.dslf-2 select:focus {
    outline: none;
}

.dslf-3 {
    margin-top: 4px;
    margin-left: 1px;
    width: 56px;
    height: 15px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-3 select {
    width: 57px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.dslf-3 select:focus {
    outline: none;
}

.disc-select-right {
    width: 70px;
    float: left;
    border-left: 1px solid #bdc6ca;

}

.disc-select-right p {
    margin-bottom: 8px;
    line-height: 8px;
    font-size: 64%;
    font-family: 'Lucida Sans Unicode';
}

.disc-select-right span {
    margin-bottom: 8px;
    line-height: 8px;
    font-size: 64%;
    font-family: 'Lucida Sans Unicode';
    color: #77858b;
}

.dsrf-1 {
    margin-top: 4px;
    margin-left: 1px;
    width: 56px;
    height: 15px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dsrf-1 select {
    width: 57px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.dsrf-1 select:focus {
    outline: none;
}