.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

.header-phone {
    height: 30px;
    margin-top: 17px;
    margin-left: 46px;
}

.phone-icon {
    width: 21px;
    height: 21px;
    margin-top: 4px;
    float: left;
    border-radius: 21px;
    background: rgb(21, 51, 87);
    background: -moz-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: -o-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: -ms-linear-gradient(90deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
    background: linear-gradient(180deg, rgb(21, 51, 87) 30%, rgb(30, 101, 132) 94%);
}

.phone-icon img {
    margin-top: 1px;
    margin-left: 3px;
}

.header-phone span {
    margin-top: 7px;
    margin-left: 4px;
    float: left;
    color: #5e696d;
    font-family: Arial;
    font-size: 19px;
}

.login-form {
    width: 495px;
    height: 25px;
    margin-left: 15px;
    float: left;
    border-top: 1px solid #a6c3cf;
    border-bottom: 1px solid #596d80;
    border-radius: 3px;
    background: rgb(31, 103, 135);
    -moz-box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    box-shadow: 2px 2px 3px 0 rgba(180, 180, 180, 1);
    background: -moz-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -webkit-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -o-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: -ms-linear-gradient(90deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    background: linear-gradient(180deg, rgb(31, 103, 135) 14%, rgb(13, 52, 88) 82%);
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
}

.login-form img {
    margin-top: 4px;
    margin-left: 8px;
    float: left;
}

.login {
    margin-left: 1px;
    float: left;
}

.login input {
    width: 108px;
    height: 12px;
    margin-left: 2px;
    padding-left: 2px;
}

.login input::-webkit-input-placeholder {
    font-size: 86%
}

.login a {
    margin-right: 2px;
    margin-left: 5px;
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
}

.reg {
    float: left;
    color: #fff;
    font-size: 88%;
    line-height: 25px;
    text-decoration: none;
}

.forgotten {
    margin-top: 6px;
    margin-right: 10px;
    float: right;
    border-bottom: 1px solid #7c8794;
    color: #bfbfbf;
    line-height: 13px;
    text-decoration: none;
}

.contact {
    width: 67px;
    height: 18px;
    margin-top: 1px;
    margin-left: 17px;
    padding-left: 7px;
    float: left;
    border: 2px solid #d3d8da;
    border-radius: 18px;
}

.contact img {
    margin-right: 4px;
}

header > img {
    margin-top: 7px;
    margin-left: 39px;
}

/*NAVIGATION BAR*/

nav {
    height: 32px;
    margin: 3px 50px 0 39px;
    padding-right: 13px;
    padding-left: 120px;
    border: 1px solid #2c345a;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: -webkit-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: -ms-linear-gradient(270deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    background: linear-gradient(0deg, rgb(0, 0, 0) 63%, rgb(77, 86, 99) 92%);
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

nav ul {
    margin-left: 1px;
    float: left;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
}

nav li {
    height: 26px;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
    line-height: 27px;
}

nav li:last-child {
    margin-left: 0;
    padding-right: 0;
}

nav li a {
    padding-right: 13px;
    padding-left: 11px;
    color: #b1bcc0;
    line-height: 27px;
    text-decoration: none;

}

nav li:hover {
    border-radius: 26px;
    background: rgb(12, 51, 87);
    color: #fff;
    background: -moz-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -webkit-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -o-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -ms-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: linear-gradient(0deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
}

nav li a:hover {
    color: #fff;
}

.selected {
    padding-right: 16px;
    padding-left: 19px;
    border-radius: 26px;
    background: rgb(12, 51, 87);
    color: #fff;
    background: -moz-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -webkit-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -o-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: -ms-linear-gradient(270deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    background: linear-gradient(0deg, rgb(12, 51, 87) 24%, rgb(31, 103, 135) 100%);
    cursor: pointer;
}

nav span {
    margin-right: 3px;
    padding-left: 5px;
    float: right;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 12px;
    line-height: 32px;
}

nav p {
    padding-right: 1px;
    padding-left: 11px;
    float: right;
    color: #8a9296;
    font-family: Arial;
    font-size: 11px;
    line-height: 31px;
}

nav img {
    margin-top: 7px;
    margin-right: -4px;
    float: right;
}

.selectors {
    margin-top: 10px;
    margin-left: 1px;
    float: left;
}

/*LEFT FILTER*/

.car-select {
    width: 414px;
    height: 132px;
    margin-top: 2px;
    margin-left: 42px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.car-select header {
    height: 15px;
    color: #154467;
    font-family: 'Arial Black';
}

.car-select header h1 {
    padding-top: 1px;
    padding-right: 72px;
    float: left;
    font-size: 79%;
    text-align: center;
}

.car-select header p {
    padding-top: 4px;
    padding-right: 66px;
    padding-left: 20px;
    float: left;
    font-size: 64%;
}

.car-select header span {
    padding-top: 2px;
    padding-left: 1px;
    float: left;
    font-size: 65%;
}

.car-filters-left {
    margin: 0 11px 0 17px;
    float: left;
}

.car-filters-right {
    margin: -2px 0 0 20px;
    float: left;
}

.car-filters-text {
    width: 72px;
    padding-top: 12px;
    float: left;
}

.car-filters-text p {
    margin-bottom: 8px;
    font-family: Arial;
    font-size: 64%;
    line-height: 8px;
}

.car-filters-text span {
    color: #77858b;
}

.car-filters-selection {
    width: 102px;
    float: left;
}

.cfs-1 {
    width: 101px;
    height: 16px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 84px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);

}

.cfs-1 select {
    width: 102px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.cfs-1 select:focus {
    outline: none;
}

.cfs-2 {
    width: 58px;
    height: 16px;
    margin-top: 5px;
    margin-left: 3px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 41px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.cfs-2 select {
    width: 109px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.cfs-2 select:focus {
    outline: none;
}

.car-select a {
    margin-right: 21px;
    padding-top: 4px;
    float: right;
    border-bottom: 2px solid #99a6b3;
    color: #154467;
    font: italic 14px Arial;
    line-height: 13px;
    text-decoration: none;
}

/*CENTER FILTER*/
.tire-select {
    width: 192px;
    height: 135px;
    margin-top: 1px;
    margin-left: 14px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.tire-select header {
    height: 15px;
    padding-top: 3px;
    padding-left: 10px;
    color: #154467;
    font-family: 'Arial Black';
    font-size: 75%;
}

.tire-select-text {
    width: 55px;
    float: left;
    font-family: 'Lucida Sans Unicode';
    text-align: right;
}

.tire-select-text p {
    padding-top: 12px;
    padding-right: 3px;
    font-size: 64%;
}

.tire-select-text h1 {
    padding-top: 11px;
    padding-right: 2px;
    padding-bottom: 2px;
    font-size: 70%;
}

.tire-select-text span {
    padding-right: 7px;
    font-size: 64%;
}

.tire-select-filter {
    float: left;
}

.tsf-1 {
    width: 51px;
    height: 15px;
    margin-top: 4px;
    margin-left: 3px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 34px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);

}

.tsf-1 select {
    width: 52px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.tsf-1 select:focus {
    outline: none;
}

.tsf-span {
    margin-top: 7px;
    margin-left: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
    float: left;
}

.tsf-2 {
    width: 52px;
    height: 15px;
    margin-top: 4px;
    margin-left: 1px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 35px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.tsf-2 select {
    width: 53px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
}

.tsf-2 select:focus {
    outline: none;
}

.tsf-3 {
    width: 44px;
    height: 15px;
    margin-left: 4px;
    clear: both;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 27px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.tsf-3 select {
    width: 45px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 2px;
    font-size: 11px;
}

.tsf-3 select:focus {
    outline: none;
}

.tire-checkbox {
    width: 70px;
    margin-top: 9px;
    margin-left: 3px;
}

.check {
    height: 13px;
    padding-bottom: 1px;
}

.check input {
    float: left;
}

.check input:not(checked) {
    position: absolute;
    opacity: 0;
}

.check input:not(checked) + label {
    position: relative;
    padding-left: 13px;
}

.check input:not(checked) + label:before {
    width: 9px;
    height: 9px;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    margin-top: 1px;
    border-top: 1px solid #707070;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #fdfdfd;
    border-bottom: 1px solid #f4f4f4;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    display: block;
    float: left;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    line-height: 10px;
    vertical-align: middle;
}

.check input:checked + label:before {
    background: url('../img/check.png');
}

.check label span {
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    line-height: 10px;
    vertical-align: top;
}


.tire-select a {
    margin-top: -3px;
    margin-right: 19px;
    float: right;
    border-bottom: 2px solid #99a6b3;
    color: #154467;
    font: italic 14px Arial;
    line-height: 13px;
    text-decoration: none;
}

/*RIGHT FILTER*/
.disc-select {
    width: 266px;
    height: 134px;
    margin-top: 1px;
    margin-left: 10px;
    float: left;
    border-top: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 17px;
    -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
    box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, .5);
}

.disc-select-left header {
    padding-top: 2px;
    padding-left: 9px;
    color: #154467;
    font-family: 'Arial Black';
    font-size: 82%;
}

.disc-select-left {
    float: left;
}

.dsl-text {
    width: 105px;
    float: left;
    transform: scaleX(1.005);
}

.p1 {
    margin-top: 11px;
    margin-left: 16px;
    font-family: 'Lucida Sans Unicode';
    font-size: 69%;
    line-height: 6px;
}

.p2 {
    margin-top: 5px;
    margin-left: 16px;
    font-family: 'Lucida Sans Unicode';
    font-size: 69%;
    line-height: 8px;
}

.span1 {
    padding-top: 1px;
    color: #77858b;
    font-size: 95%;
    line-height: 6px;
}

.span2 {
    padding-top: 4px;
    color: #77858b;
    font-size: 89%;
    line-height: 9px;
}

.span3 {
    padding-top: 4px;
    color: #77858b;
    font-size: 90%;
    line-height: 10px;
}

.dsl-filters {
    width: 60px;
    float: left;
}

.dslf-1 {
    width: 55px;
    height: 15px;
    margin-top: 4px;
    margin-left: 1px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 38px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-1 select {
    width: 56px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 4px;
    font-size: 11px;
}

.dslf-1 select:focus {
    outline: none;
}

.dslf-2 {
    width: 49px;
    height: 16px;
    margin-top: 16px;
    margin-left: 1px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 32px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-2 select {
    width: 50px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 5px;
    font-size: 11px;
}

.dslf-2 select:focus {
    outline: none;
}

.dslf-3 {
    width: 57px;
    height: 16px;
    margin-top: 15px;
    margin-left: 1px;
    float: left;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dslf-3 select {
    width: 57px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 3px;
    font-size: 11px;
}

.dslf-3 select:focus {
    outline: none;
}

.disc-select-right {
    width: 70px;
    margin-top: 4px;
    margin-left: 10px;
    padding-left: 10px;
    float: left;
    border-left: 1px solid #bdc6ca;

}

.disc-select-right p {
    margin-top: 6px;
    font-family: 'Lucida Sans Unicode';
    font-size: 64%;
    line-height: 1px;
}

.disc-select-right span {
    display: block;
    padding-top: 4px;
    color: #77858b;
    font-family: 'Lucida Sans Unicode';
    font-size: 55%;
    line-height: 8px;
}

.dsrf-1 {
    width: 56px;
    height: 15px;
    margin: 3px 0 13px 1px;
    border-top: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    background: url('../img/arrow.png') no-repeat;
    background-position: 39px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
}

.dsrf-1 select {
    width: 57px;
    margin-left: -1px;
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    text-indent: 3px;
    font-size: 11px;
}

.dsrf-1 select:focus {
    outline: none;
}

.disc-select a {
    margin-right: 18px;
    margin-top: -6px;
    float: right;
    border-bottom: 2px solid #99a6b3;
    color: #154467;
    font: italic 14px Arial;
    line-height: 13px;
    text-decoration: none;
}

/*LEFT SIDEBAR*/
.left-side {
    width: 192px;
    height: 627px;
    margin-top: 18px;
    margin-left: 38px;
    float: left;
}

.left-side header {
    width: 180px;
    height: 25px;
    margin-bottom: 13px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 79%;
    line-height: 26px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, .5);
    -moz-box-shadow:    2px 2px 3px 0 rgba(50, 50, 50, .5);
    box-shadow:         2px 2px 3px 0 rgba(50, 50, 50, .5);
}

.catalog-icon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    margin-left: 3px;
    float: left;
    border-radius: 20px;
    background: rgb(29, 64, 98);
    background: -moz-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -webkit-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -o-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -ms-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: linear-gradient(0deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    color: #114165;
}

.catalog-icon img {
    margin-top: 3px;
    margin-left: 4px;
}

.left-side header p {
    padding-left: 5px;
    float: left;
}

.left-vares {
    width: 148px;
    height: 26px;
    margin-top: 13px;
    margin-left: 2px;
    border: 1px solid #79878d;
    border-radius: 23px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    line-height: 26px;
}

.outer-circle {
    width: 22px;
    height: 22px;
    margin-top: 2px;
    margin-left: 4px;
    float: left;
    border-radius: 22px;
    background: #114165;
}

.inner-circle {
    position: absolute;
    width: 12px;
    height: 12px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 11px;
    background: #fff;
}

.left-vares p {
    padding-top: 2px;
    padding-left: 3px;
    float: left;
}

.left-vares-1 {
    width: 148px;
    height: 26px;
    margin-top: -9px;
    margin-left: 2px;
    border: 1px solid #79878d;
    border-radius: 23px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    line-height: 26px;
}

.left-vares-1 p {
    padding-top: 2px;
    padding-left: 3px;
    float: left;
}

.left-side ul {
    margin-top: 3px;
    margin-left: 52px;
    padding-bottom: 1px;
    list-style-image: url('../img/li.png');
}

.left-side li {
    margin-bottom: 10px;
}

.left-side a {
    margin-left: -4px;
    padding-bottom: 1px;
    color: #465961;
    font-family: 'Lucida Sans Unicode';
    font-size: 80%;
    text-decoration: none;
}

.li-active {
    list-style-image: url('../img/lihover.png');
}

.li-active a {
    border-bottom: 2px solid #58697f;
    color: #0c3256;
    font: italic bold 14px Arial;
}

.left-side li:hover {
    list-style-image: url('../img/lihover.png');
}

.left-side a:hover {
    border-bottom: 2px solid #58697f;
    color: #0c3256;
    font: italic bold 14px Arial;
}

/*CENTER SECTION*/
.goods {
    width: 525px;
    height: 627px;
    margin-top: 15px;
    padding-left: 21px;
    float: left;
    background: rgb(147, 167, 176);
    background: -moz-linear-gradient(270deg, rgb(147, 167, 176) 18%, rgb(229, 231, 232) 87%);
    background: -webkit-linear-gradient(270deg, rgb(147, 167, 176) 18%, rgb(229, 231, 232) 87%);
    background: -o-linear-gradient(270deg, rgb(147, 167, 176) 18%, rgb(229, 231, 232) 87%);
    background: -ms-linear-gradient(270deg, rgb(147, 167, 176) 18%, rgb(229, 231, 232) 87%);
    background: linear-gradient(0deg, rgb(147, 167, 176) 18%, rgb(229, 231, 232) 87%);
}

.tire-row {
    margin-bottom: 7px;
}

.tire-row-1 {
    margin-bottom: 9px;
}

.goodyear {
    width: 140px;
    height: 180px;
    margin-top: 15px;
    margin-right: 28px;
    float: left;
    text-align: center;
}

.goodyear figcaption h1 {
    color: #206988;
    font: 96% 'Lucida Sans Unicode';
    line-height: 15px;
    text-shadow: 0 1px 1px rgba(144, 170, 184, 1);
}

.goodyear figcaption p {
    margin-top: -4px;
    margin-left: 8px;
    font: 80% 'Lucida Sans Unicode';
}

.goodyear > p {
    margin-top: 3px;
    padding-left: 13px;
    color: #114165;
    font: italic bold 97% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

.goodyear span {
    padding-left: 6px;
    color: #114165;
    font: italic bold 83% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

.goodyear-image {
    width: 138px;
    height: 127px;
    margin-top: -3px;
    margin-left: 1px;
    border: 1px solid #b0b9bc;
    border-radius: 8px;
    background: #fff;
}

.goodyear-image img {
    margin-left: -3px;
    padding-top: 5px;
}

.nokian {
    width: 140px;
    height: 180px;
    margin-top: 15px;
    margin-right: 28px;
    float: left;
    text-align: center;
}

.nokian figcaption h1 {
    margin-left: 5px;
    color: #206988;
    font: 96% 'Lucida Sans Unicode';
    line-height: 15px;
    text-shadow: 0 1px 1px rgba(144, 170, 184, 1);
}

.nokian figcaption p {
    margin-top: -4px;
    margin-left: 7px;
    font: 80% 'Lucida Sans Unicode';
}

.nokian > p {
    margin-top: 4px;
    padding-left: 16px;
    color: #114165;
    font: italic bold 97% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

.nokian span {
    padding-left: 8px;
    color: #114165;
    font: italic bold 83% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

.nokian-image {
    width: 137px;
    height: 127px;
    margin-top: -3px;
    margin-left: 1px;
    border: 1px solid #b0b9bc;
    border-radius: 8px;
    background: #fff;
}

.nokian-image img {
    margin-left: -2px;
    padding-top: 4px;
}

.hankook {
    width: 140px;
    height: 180px;
    margin-top: 15px;
    margin-right: 1px;
    float: left;
    text-align: center;
}

.hankook figcaption h1 {
    margin-left: 7px;
    color: #206988;
    font: 96% 'Lucida Sans Unicode';
    line-height: 15px;
    text-shadow: 0 1px 1px rgba(144, 170, 184, 1);
}

.hankook figcaption p {
    margin-top: -4px;
    margin-left: 3px;
    font: 80% 'Lucida Sans Unicode';
}

.hankook > p {
    margin-top: 4px;
    padding-left: 15px;
    color: #114165;
    font: italic bold 97% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

.hankook span {
    padding-left: 7px;
    color: #114165;
    font: italic bold 83% Arial;
    text-shadow: 0 1px 1px rgba(138, 154, 167, 1);
}

/*RIGHT SIDEBAR*/
.right-side {
    width: 193px;
    height: 627px;
    margin-top: 15px;
    margin-left: -20px;
    float: left;
    background: #fff;
}

.right-side header {
    width: 180px;
    height: 25px;
    margin: 1px 0 13px 9px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 85%;
    line-height: 26px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(50, 50, 50, .5);
    -moz-box-shadow:    2px 2px 3px 0 rgba(50, 50, 50, .5);
    box-shadow:         2px 2px 3px 0 rgba(50, 50, 50, .5);
}

.catalog-icon-2 {
    width: 22px;
    height: 22px;
    margin-top: 1px;
    margin-left: 3px;
    float: left;
    border-radius: 20px;
    background: rgb(29, 64, 98);
    background: -moz-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -webkit-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -o-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: -ms-linear-gradient(270deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    background: linear-gradient(0deg, rgb(29, 64, 98) 23%, rgb(31, 103, 134) 100%);
    color: #114165;
}

.catalog-icon-2 img {
    margin-top: 4px;
    margin-left: 5px;
}

.right-side header p {
    padding-left: 6px;
    float: left;
}

.right-vares {
    width: 134px;
    height: 26px;
    margin-top: 14px;
    margin-left: 24px;
    border: 1px solid #79878d;
    border-radius: 23px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    line-height: 26px;
}

.right-vares p {
    padding-top: 1px;
    padding-left: 4px;
    float: left;
}

.right-checkboxes {
    margin-top: 9px;
    margin-left: 34px;
}

.right-check {
    height: 13px;
    padding-bottom: 12px;
}

.right-check input:not(checked) {
    position: absolute;
    opacity: 0;
}

.right-check input:not(checked) + label {
    position: relative;
    padding-left: 24px;
}

.right-check input:not(checked) + label:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    border-top: 1px solid #1c4360;
    border-left: 2px solid #374e5f;
    border-right: 1px solid #345b79;
    border-bottom: 2px solid #809aad;
    border-radius: 2px;
    -webkit-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    box-shadow: inset 1px 1px 2px 0 rgba(50, 50, 50, .75);
    display: block;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    line-height: 10px;
}

.right-check input:checked + label:before {
    background: url('../img/check.png');
}

.right-check label span {
    color: #465961;
    font-family: 'Lucida Sans Unicode';
    font-size: 13px;
    line-height: 12px;
    vertical-align: top;
}

.right-vares-2 {
    width: 136px;
    height: 26px;
    margin-top: 2px;
    margin-left: 22px;
    border: 1px solid #79878d;
    border-radius: 23px;
    color: #114165;
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
    line-height: 26px;
}

.right-vares-2 p {
    padding-top: 1px;
    padding-left: 5px;
    float: left;
}

.right-checkboxes-2 {
    margin-top: 11px;
    margin-left: 34px;
}

.checkbutton {
    width: 81px;
    height: 24px;
    margin-top: 8px;
    margin-left: 33px;
    border-top: 1px solid #7a95a1;
    border-bottom: 1px solid #7a95a1;
    border-radius: 24px;
    background: rgb(12, 51, 87);
    background: -moz-linear-gradient(270deg, rgb(12, 51, 87) 26%, rgb(31, 103, 135) 95%);
    background: -webkit-linear-gradient(270deg, rgb(12, 51, 87) 26%, rgb(31, 103, 135) 95%);
    background: -o-linear-gradient(270deg, rgb(12, 51, 87) 26%, rgb(31, 103, 135) 95%);
    background: -ms-linear-gradient(270deg, rgb(12, 51, 87) 26%, rgb(31, 103, 135) 95%);
    background: linear-gradient(0deg, rgb(12, 51, 87) 26%, rgb(31, 103, 135) 95%);
    color: #e5e9ea;
    font: 71% Arial;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(191, 193, 194, 1);
    -moz-box-shadow: 2px 2px 3px 0 rgba(191, 193, 194, 1);
    box-shadow: 2px 2px 3px 0 rgba(191, 193, 194, 1);
    line-height: 23px;
    text-align: center;
    cursor: pointer;
}

/*FOOTER*/

.car-logos {
    height: 61px;
    margin-top: 26px;
    margin-left: 157px;

}

.carlogos img {
    float: left;
}

.car-logo1 {
    margin-top: 13px;
    padding-bottom: 2px;
}

.car-logo2 {
    margin-left: 7px;
    padding-bottom: 9px;
}

.car-logo3 {
    margin-left: 9px;
    padding-bottom: 2px;
}

.car-logo4 {
    margin-left: 11px;
    padding-bottom: 2px;
}

.car-logo5 {
    margin-left: 8px;
    padding-bottom: 8px;
}

.car-logo6 {
    margin-top: 9px;
    margin-left: 9px;
}

.car-logo7 {
    margin-left: 9px;
    padding-bottom: 8px;
}

.car-logo8 {
    margin-left: 11px;
    padding-bottom: 9px;
}

.basement {
    width: 910px;
    height: 100px;
    margin-left: 39px;
    background: #213a4d;
    text-align: center;
}

.bottom-menu {
    display: block;
    margin-left: 307px;
    padding-top: 9px;
}

.bottom-menu li {
    float: left;
    text-align: center;
}

.bottom-menu a {
    padding-right: 12px;
    padding-left: 12px;
    border-left: 1px solid #bec6c9;
    color: #bec6c9;
    font: 78% Arial;
    text-decoration: none;
}

.bottom-menu a:nth-of-type(3) {
    padding-left: 12px;
}

.selected-1 a {
    padding-right: 12px;
    padding-left: 2px;
    border-left: 0;
    color: #52abcb;
}

.last a {
    padding-left: 16px;
}

.basement p {
    padding-top: 14px;
    color: #7f4740;
    font: 10px Arial;
}
