body {
  background: url("../img/back.png");
}
.clearfix:after{
  content: "";
  clear: both;
  display: block;
}

/*MAIN BLOCK*/
.container {
  width: 1000px;
  display: block;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0px -1px 6px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px -1px 6px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px -1px 6px 0px rgba(50, 50, 50, 1);
  }

/*HEADER*/
.header{
  position:relative;
  padding-top: 13px;
  padding-left: 25px;
  padding-right: 25px;
}
.header ul {
  float:right;
  font: 12px Tahoma;
  color: #128aa7;
  line-height: 16px;
  }
.header li:first-child {
  text-shadow: 1px 1px 1px rgba(181, 210, 220, 1);
  margin-bottom: 5px;
}
.header p {
  position: absolute;
  top: 110px;
  left: 95px;
  font: 12px Tahoma;
  color: #128aa7;
}
.header img {
  float:left;
}

/*HEADER LIST OF COUNTRIES*/
.line {
  clear:right;
  float:right;
  }
.line li {
  float:right;
  display: block;
  width: 60px;
  line-height: 8px;
  text-align: center;
  }
.line img {
  margin-top: 26px;
  padding-left: 10px;
}
.line li:first-child {
  text-shadow: none;
  margin-bottom: 0px;
}
.line a {
  font: 10px Tahoma;
  color: #128aa7;
}

/*NAVIGATION BAR*/
ul.menu {
  position: relative;
  height: 28px;
  margin-top: -2px;
  border-bottom: 1px solid black;
  background: rgb(48, 48, 48);
  background: linear-gradient(0deg, rgb(48, 48, 48) 10%, rgb(55, 55, 55) 87%);
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
  z-index: 2;
}
ul.menu > li {
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 50px;
}
ul.menu > li:first-child{
  margin-left: 50px;
}
ul.menu > li > a {
  display: block;
  font: 14px Tahoma;
  color: white;
  text-decoration: none;
  line-height: 28px;
}
ul.submenu {
  display: none;
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  border-top: 1px solid black;
  z-index: 1;
}
ul.submenu > li > a {
  display: block;
  height: 28px;
  padding-left: 10px;
  background: #303030;
  font: 14px Tahoma;
  color: white;
  text-decoration: none;
}
ul.menu > li:hover > ul.submenu {
  display: block;
}

/*CONTENT*/
.fon1 {
  width: 100%;
  background: #edeef0;
  float: left;
  position: relative;
  right: 60%;
  border-right: 1px solid #c7cacf;
  font: 14px Tahoma;
  color: #424c43;
  text-align: center;
  line-height: 25px;
}
.fon1 h1 {
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(160, 164, 162, 1);
  margin-top: 10px;
  margin-bottom: 3px;
}
.fon2 {
  width: 100%;
  background: white;
  float: left;
  position: relative;
  right: 20%;
  border-right: 1px solid #c7cacf;
}
.fon3 {
  width: 100%;
  background: #edeef0;
  float: left;
  overflow:hidden;
}
.leftcolumn {
  float: left;
  width: 20%;
  position: relative;
  left: 80%;
}
.centercolumn {
  float: left;
  width: 60%;
  position: relative;
  left: 80%;
}
.rightcolumn {
  float: left;
  width: 20%;
  position: relative;
  left: 80%;
}
/*.clearfix {
  padding-top: 3px;
}*/
.copy {
  padding-top: 10px;
  font: 12px Tahoma;
  color: white;
  text-align: center;
}
