body {
    background-color: #d3d3d3;
}

h1 {
    text-align: center;
}

img {
    border-radius: 10px;
}

.main {
    width: 600px;
    margin: 0 auto;
    padding: 30px 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
}

.centered {
    width: 30%;
    margin: 0 auto;
}

.article {
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 20px;
    border-top: 1px solid #727272;
    font-size: 20px;

}

.article:nth-of-type(2) {
    border-top: 0;
}

.break {
    width: 100%;
    float: left;
    margin: 0 0 25px;
}
